html { 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: sans-serif;
    background-color: dimgray;
    color: #333; 
}

#Maze_race {
    display: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}

#level_map {
    width: 800px;
    height: 500px;
    border: 1px solid #eee;
    border-radius: 10px;
    position: relative;
    margin: auto;
}

.player1 {
    height: 15px;
    width: 15px;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
}

<<<<<<< HEAD
.player2 {
=======
.player1 {
>>>>>>> 76b653c2422c01cc6c77db367d08ac4c4374993e
    height: 15px;
    width: 15px;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 0px;
}
.player2 {
    height: 15px;
    width: 15px;
    background-color: rgb(38, 0, 255);
    border: 1px solid rgb(55, 0, 255);
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 0px;
    
}